* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: bisque;
}

header,
footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: coral;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    padding-bottom: 0%;
}

main {
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hr {
    border: 10px;
    border-radius: 5px;
}

p {
    font-size: 20px;
}

.image-boxes {
    display: flex;
    justify-content:space-evenly;
}

.image-padding {
    padding: 20px;
}

.image-border {
    border: 10px solid darkblue;
}

.image-margin {
    margin: 20px;
}

@media screen and (max-width: 870px) {
    width: 100%;
}

/* Work on spacing for contact section*/
#contact-section {
    padding: 40px;
}



